<p id="notice"><%= notice %></p>

<h1>Listing Stream Lists</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stream_lists.each do |stream_list| %>
      <tr>
        <td><%= stream_list.title %></td>
        <td><%= stream_list.description %></td>
        <td><%= link_to 'Show', stream_list %></td>
        <td><%= link_to 'Edit', edit_stream_list_path(stream_list) %></td>
        <td><%= link_to 'Destroy', stream_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stream list', new_stream_list_path %>
